*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
   
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}
ul li{
    padding: 0px 10px;
}
input {
    width: 350px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid gray;
    font-size: 16px;
    padding-left: 10px;
}
#login{
    width: 80px;
    height: 40px;
    background-color: transparent;
   
}
#signup{
    width: 80px;
    height: 40px;
    background-color: rgb(39, 37, 37);
    color: white;
    font-weight: bold;
   
}
.bg_img{
    background-image: url('./images/banner.png');
    height: 350px;
   background-repeat: no-repeat;
    background-size: cover;

   
}
h1{
    font-size: 34px;
    padding-left: 20px;
    padding-top: 25px;
}
p{
    font-size: 18px;
    padding-left: 20px;
}
.card1{
    width: 450px;
    height: 180px;
    position: absolute;
    background-color: white;
   top: 130px;
   left: 100px;
    
}
#subheader{
    margin-top: 40px;
    width: 80%;
display: flex;
align-items: center;
justify-content: space-between;
font-weight: bold;
font-size: 16px;
color: #6a6f73;
}
.courses{
    background-color: #f7f9fa;
    margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  margin-left: 20px;
  padding-top: 20px;
  
}
.courses p{
    font-size: 12px;
}
.courses h3{
    font-size: 18px;
}
#div1{
    background-color: black;
    border-radius: 25px;
    width: 180px;
    height: 50px;
    color: white;
    padding-top: 10px;
    text-align: center;
}
#div2{
    background-color: #e4e8eb;
    border-radius: 25px;
    width: 130px;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}
#div3{
    background-color: #e4e8eb;
    border-radius: 25px;
    width: 185px;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}
.sub_cards{
    
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.sub_cards img{
    width: 290px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   
}
.card2 {
    margin-top: 40px;
    width: 290px;
    height: 330px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 10px;
}
.card3 {
    margin-top: 40px;
    width: 290px;
    height: 330px;
    border: 1px solid gray;
    border-radius: 10px;
    
    margin-right: 10px;
}
.card4 {
    margin-top: 40px;
    width: 290px;
    height: 330px;
    border: 1px solid gray;
    border-radius: 10px;
   margin-right: 10px;
}
.card5 {
    margin-top: 40px;
    width: 290px;
    height: 330px;
    border: 1px solid gray;
    border-radius: 10px;
   
    margin-right: 10px;
}
.sub_cards p{
    font-size: 14px;
    color: gray;
    padding-left: 15px;
    padding-top: 10px;
    
}
.sub_cards h2{
    font-size: 18px;
    padding-left: 15px;
    padding-top: 10px;
}
#star{
    width: 70px;
    padding-left: 15px;
    padding-top: 10px;
}
#price{
    font-size: 18px;
    color: black;
    
}
#show{
    border: 1px solid black;
    margin-top: 40px;
    width: 300px;
    margin-left: 20px;
    
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 40px;
}

#bg{
    background-color: #f7f9fa;
    padding-bottom: 20px;
}
.company_list{
    margin-left: 110px;
    margin-right: 90px;
    padding: 30px 0px;
   
}
.company_list img{
    vertical-align: middle;
    margin-right: 50px;
}
.goals{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .list{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.list h3{
    font-size: 22px;
    padding-left: 20px;
    padding-bottom: 10px;
}
#card_list p{
    font-size: 18px;
    color: gray;
}
#card_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin-left: 20px;
    margin-top: 20px;
    height: 150px;
    border-right: 1px solid #a435f0;
    border-top: 1px solid #a435f0;
    border-bottom: 1px solid #a435f0;
    border-left: 8px solid #a435f0;
    border-radius: 10px;
}
footer{
    background-color: #1c1d1f;
    border-bottom: 1px solid gray;
}
.foot_note{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    padding: 30px 0px;
}
.footer1{
    padding-top: 20px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1d1f;
    color: white;
   padding-bottom: 30px;

}
.footer1 p{
    padding-bottom: 5px ;
     
    font-size: 16px;
}
.btn{
    border: 1px solid white;
}